.library{
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    box-shadow: 1rem 1rem 5rem lightgray;
    background: #FFFFFF;

    h2{
        padding: 1.5rem;
    }

}

.library-song{
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    transition: .5s ease;
    img{
        width: 30%;
    }
    &:hover{
        box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.2);
        transform: translateY(-0.5rem);
    }
}
.song-description{
    padding-left: 1rem;
    h3{
        font-size: 1.25rem;
    }
    h4{
        font-size: 0.8rem;
    }
}
*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar{
    width: 5px;
}
*::-webkit-scrollbar-track{
    background: transparent;
}
*::-webkit-scrollbar-thumb{
    background-color: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
}
.selected{
    background: rgb(81, 42, 81);
    h3, h4{
        color: #FFFFFF;
    }
}
.active-library{
    transform: translateX(0%);
    opacity: 1;
}
@media screen and (max-width: 768px) {
    .library{
        width: 100%;
    }
}

